lib-cov
tmp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Built files
dist

# CI/CD
.circleci

# Test files
.jest-cache
